:root {
    --maincolor:rgb(245,194,27);
   --pcolor:#9a9a9a;
   --secondcolor:#383848;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
}
.heading-text {
    text-align: center;
    margin-bottom: 50px;
}
.heading-text h2 {
    font-size: 35px;
    margin-bottom: 10px;
}
.heading-text p {
    font-weight: 600;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*start header*/
header {
    width: 100%;
    position: fixed;
    z-index: 2;
    padding: 10px 0;

}
header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .container img {
    width: 80px;
}
header .container nav {
    align-items: center;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
header .container nav ul {
    display: flex;
}
header .container nav .toggle-menu {
    font-size: 22px;
    cursor: pointer;
    color: white;
    
}
@media (min-width: 768px) {
    header .container nav .toggle-menu {
        display: none;
    }
}
@media (max-width: 992px) {
    header .container nav ul {
        display: none;
    }
}

header .container nav ul li {
    padding: 20px;
}
header .container nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
}
header .container nav .form {
    border-left: 1px solid white;
    margin-left: 30px;
    width: 40px;
    height: 30px;
    position: relative;
}
header .container nav .form i{
position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: white;
}
/*end header*/
/*start home*/
.home {
    padding: 100px 0;
    background: url("../images/home_bg.jpeg") center center/cover fixed repeat;
    color: #fff;
    text-align: center;
    height: 742px;
}
.home::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.4);
}
.home .container {
    z-index: 1;
    position: relative;
}
.home h1 {
    margin-top: 155px;

}
.home span {
    color: var(--maincolor);
}

.home p {
    margin: 20px 0 40px;
}

.home a {
    padding: 10px 20px;
    border:solid 1px white;
    border-radius: 5px;
    transition: 0.5s;
    
}
/*end home*/
/*start about */
.about {
    padding :100px 0;
}

.about  p {
    color: var(--pcolor);
}
.about-contant {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about img {
    width:400px;
}
.about .about-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 90px;
  
}
.about .about-text p {
    line-height: 1.8;

}
.about .about-text a {
    margin-top: 20px;
    padding: 10px 20px;
    border:solid 1px var(--secondcolor);
    background-color: var(--secondcolor);
    border-radius: 5px;
    transition: 0.5s;
    color: white;
    font-weight: 400;
}
/*end about */
/*start offers */
.offers {
    padding: 100px 0;
   background-image: url("../images/offer-background.jpg");
   background-size: cover;
 
  
}
.offers .heading-text h2 {
    color: var(--maincolor);
}
.offers .heading-text p {
    color: white;
}
.offers-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    
}
.offers-items img {
    width: 200px;
}
.offers-items h3 {
    font-size: 25px;
    color: #fff;
    margin: 15px 0;
}
.offers-items p {
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    font-weight: 300;
    margin-bottom: 15px;
}
.price {
text-align: center;
}
.offers-items span {
    font-weight: 600;
    font-size: 18px;
    color: var(--maincolor);
   padding-bottom: 30px ;
   display: block;
    
}
.offers-items span del {
   color: white;
}
/*end offers */

/*start menu */
.menu {
    padding: 80px 0;
    
}
.menu .heading-text p {
    color: var(--pcolor);
}


.menu .heading-text h2 {
color: var(--secondcolor);
}
.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.menu-items img {
    width: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.menu-items h3 {
    font-size: 25px;
    margin: 15px 0;
}
.menu-items p {
    color: var(--pcolor);
    font-size: 14px;
    padding: 0 20px;
    font-weight: 300; }
    .menu-items span {
        font-weight: 600;
        font-size: 18px;
        color: var(--maincolor);
       padding-top: 20px;
       padding-left: 20px;
       display: block;
        
    }
    .menu .container a {
       display: block;
       text-align: center;
       margin: 30px auto;
       padding: 10px 20px;
       border:solid 1px var(--maincolor);
       background-color: var(--maincolor);
       border-radius: 5px;
       transition: 0.5s;
       color: white;
       font-weight: 400;
       width: 30%;

    }
/*end menu */
/*start face */
.face  {
    padding: 100px 0;
    background-color: var(--maincolor);
}
.face .face-items {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 45px;
}

.face .face-items .item {
    text-align: center;
    color: white;
}
.face .face-items .item h3 {
    font-size: 25px;
    margin: 10px;
}
.face .face-items .item p {
    color: white;
    font-size: 14px;
    font-weight: 300;
}
/*end face */
/*start gallery */
.gallery {
    padding: 100px 0;
    background-image: url(../images/offer-background.jpg);
}
.gallery .heading-text h2 {
    color: white;
}
.gallery-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.gallery-items img {
   width: 300px;
    height: 200px;
}
/*end gallery */
/*start footer */
.footer {
    padding: 100px 0;
    
    color: white;
}
.footer-items {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
}
.footer-items h2 {
    color: var(--secondcolor);
    font-size: 25px;
    margin: 15px 0;
}
.footer-items li {
    margin: 15px 0;
    color: var(--pcolor);
    font-size: 14px;
    padding: 0 20px;
    font-weight: 300;
}
.footer-items .first-item li i {
    color: var(--maincolor);
    margin-right: 10px;
}
.footer-items p {
    color: var(--pcolor);
    font-size: 14px;
    padding: 0 20px;
    font-weight: 300;
}
.footer-items .first-item .social-media {
    display: flex;
    justify-content: flex-start;
}
.footer-items .first-item .social-media li i {
    color: white;
    background-color: var(--secondcolor);
   padding: 10px;
    border-radius: 50%;
}
.footer-items .first-item .social-media li {
    padding: 0;
}
.footer-items .second-item textarea,input {
    margin-right: 5px;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(245,194,27,0.3);
    
}
.footer-items .second-item button {
    margin-top: 20px;
    padding: 10px 20px;
    border:solid 1px var(--maincolor);
    background-color: var(--maincolor);
    border-radius: 5px;
    transition: 0.5s;
    color: white;
    font-weight: 400;
    width: 30%;
}
.copy-right {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 300;
    background-color: var(--secondcolor);
    padding: 20px 0;
}

.copy-right span {
    color: var(--maincolor);
    font-weight: bold;
}
/*end footer */
/*start media query */

@media (max-width: 767px) {
    .home::after  {
        height: 91.5%;
    }
    .about {
        padding: 50px 0;
    }
    .menu {
        padding: 50px 0;
    }
    .face {
        padding: 50px 0;
    }
    .gallery {
        padding: 50px 0;
        text-align: center;
    }
    .gallery-items img {
        width: 80%;
    }
    .offers {
        padding: 50px 0;
        
    }
    .footer {
        padding: 50px 0;
    }
    .about-contant {
        flex-direction: column;
    }
    .about .about-text {
        margin: 20px 0;
    }
    .about-contant img {
        width: 100%;
    }
    .offers-items {
        text-align: center;
       
    }
    .menu-items {
        text-align: center;
    }
    .face .face-items {
        grid-template-columns: 1fr 1fr ;
    }
    .footer-items {
        grid-template-columns: 1fr;
    }
}


/*end media query */